DB_DATABASE=CHANGE_ME_IN_PRODUCTION
DB_USERNAME=CHANGE_ME_IN_PRODUCTION
DB_PASSWORD=CHANGE_ME_IN_PRODUCTION
DB_ROOT_PASSWORD=CHANGE_ME_IN_PRODUCTION

N8N_USER=admin@exemplo.com
N8N_PASSWORD=CHANGE_ME_IN_PRODUCTION
N8N_WEBHOOK_URL=http://localhost:5678/
N8N_ENCRYPTION_KEY=CHANGE_ME_IN_PRODUCTION