.env
.env.*
!.env.example

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
.phpactor.json
.phpunit.result.cache
/.cursor/
/.nova/
/.zed/

docker-compose.override.yml

src/vendor/
src/node_modules/
src/storage/*.key
src/bootstrap/cache/*.php
src/public/hot
src/public/storage
src/public/build